<!-- banner begin-->
<div class="banner">
    <div class="banner-content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-9 d-flex align-items-center">
                    <div class="part-text">
                        <h1>IntellIgent plan<br /> for your money</h1>
                        <p>
                            Put your investing ideas into action with full range of investments.
                            Enjoy real benefits and rewards on your accrue investing.
                        </p>
                        <a href="#">Start Now</a>
                        <a href="#">View Plan</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="part-img">
                        <img src="~/Public/img/banner-Illustration.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- counter begin-->
<div class="counter">
    <div class="container">
        <div class="row d-flex">
            <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center">
                <div class="single-counter">
                    <div class="part-icon">
                        <i class="flaticon-group"></i>
                    </div>
                    <div class="part-text">
                        <h3 class="count-num">50,236</h3>
                        <h4>Total Member</h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-counter">
                    <div class="part-icon">
                        <i class="flaticon-money"></i>
                    </div>
                    <div class="part-text">
                        <h3 class="count-num">50,236</h3>
                        <h4>Total Deposited</h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center">
                <div class="single-counter">
                    <div class="part-icon">
                        <i class="flaticon-hand"></i>
                    </div>
                    <div class="part-text">
                        <h3 class="count-num">50,236</h3>
                        <h4>Total Profit</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter end -->
<!-- about begin -->
<div class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h2>About Tettram</h2>
                    <p>
                        We bring the right people together to challenge established thinking and drive transformation.
                        We will show the way to successive.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-brain"></i>
                        </div>
                        <div class="part-text">
                            <h3>We Innovate</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-patent"></i>
                        </div>
                        <div class="part-text">
                            <h3>Licensed & Certified</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-reward"></i>
                        </div>
                        <div class="part-text">
                            <h3>We are Professional</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-donation"></i>
                        </div>
                        <div class="part-text">
                            <h3>Saving & Investments</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->

<!-- choosing resons begin-->
<div class="choosing-reason">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h2>Why choose us</h2>
                    <p>
                        We bring the right people together to challenge established thinking and drive transformation.
                        We will show the way to successive.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-reason">
                    <div class="part-img">
                        <img src="~/Public/img/choose-1.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3>Stable & Profitable</h3>
                        <p>
                            Effective business support planning becomes one of the
                            most critical activities within successful small business
                            maintenance and development.Accure provides best
                            affordable plan to earn money.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-reason">
                    <div class="part-img">
                        <img src="~/Public/img/choose-2.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3>Instant Withdraw</h3>
                        <p>
                            Effective business support planning becomes one of the
                            most critical activities within successful small business
                            maintenance and development.Accure provides best
                            affordable plan to earn money.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-reason">
                    <div class="part-img">
                        <img src="~/Public/img/choose-3.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3>Referral Provides</h3>
                        <p>
                            Effective business support planning becomes one of the
                            most critical activities within successful small business
                            maintenance and development.Accure provides best
                            affordable plan to earn money.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choosing resons end -->

       

<!---------blog-post start-->
<div class="blog-post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title text-center">
                    <h2 class="extra-margin">Latest<span> Blog Posts</span></h2>
                    <p>
                        Put your investing ideas into action with full range of investments.
                        Enjoy real benefits and rewards on your accrue investing.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="part-img">
                        <img src="~/Public/img/blog-post-1.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3><a href="blog-details.html">Blog Single Image Post</a></h3>
                        <h4>
                            <span class="admin">By Admin </span>.
                            <span class="date">12 Nov, 2018 </span>.
                            <span class="category">in Web Design </span>
                        </h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the rinting and
                            typesetting industry. Lorem Ipsum has been the industry's standard
                            dummy ...
                        </p>
                        <a class="read-more" href="#"><span><i class="fas fa-book-reader"></i></span> Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="part-img">
                        <img src="~/Public/img/blog-post-2.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3><a href="blog-details.html">Printer Took A Galley</a></h3>
                        <h4>
                            <span class="admin">By Admin </span>.
                            <span class="date">12 Nov, 2018 </span>.
                            <span class="category">in Web Design </span>
                        </h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the rinting and
                            typesetting industry. Lorem Ipsum has been the industry's standard
                            dummy ...
                        </p>
                        <a class="read-more" href="#"><span><i class="fas fa-book-reader"></i></span> Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="part-img">
                        <img src="~/Public/img/blog-post-3.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3><a href="blog-details.html">Reader Will Distracted</a></h3>
                        <h4>
                            <span class="admin">By Admin </span>.
                            <span class="date">12 Nov, 2018 </span>.
                            <span class="category">in Web Design </span>
                        </h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the rinting and
                            typesetting industry. Lorem Ipsum has been the industry's standard
                            dummy ...
                        </p>
                        <a class="read-more" href="#"><span><i class="fas fa-book-reader"></i></span> Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>