
@{
    ViewBag.Title = "Index";
}

<!-- page title begin-->
<div class="page-title">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <h2>Investment Plan</h2>
                <p>Enjoy real benefits and rewards on your accrue investing.</p>
            </div>
        </div>
    </div>
</div>
<!-- page title end -->
<!-- price begin-->
<div class="price">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="section-title text-center">
                    <h2>Grab our mega package</h2>
                    <p>
                        Put your investing ideas into action with full range of investments.
                        Enjoy real benefits and rewards on your accrue investing.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab"
                           aria-selected="true">Monthly</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="yearly-tab" data-toggle="tab" href="#yearly" role="tab" aria-selected="false">Yearly</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-price">
                                    <div class="part-top">
                                        <h3>Basic Plan</h3>
                                        <h4>5.50%<br /><span>Per Month</span></h4>
                                    </div>
                                    <div class="part-bottom">
                                        <ul>
                                            <li>Features</li>
                                            <li>Minimum Deposit $10</li>
                                            <li>Miximum Deposit $10,000</li>
                                            <li>Enhanced security</li>
                                            <li>Access to all features</li>
                                            <li>24/7Support</li>
                                        </ul>
                                        <a href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-price special">
                                    <div class="part-top">
                                        <h3>Basic Plan</h3>
                                        <h4>5.50%<br /><span>Per Month</span></h4>
                                    </div>
                                    <div class="part-bottom">
                                        <ul>
                                            <li>Features</li>
                                            <li>Minimum Deposit $10</li>
                                            <li>Miximum Deposit $10,000</li>
                                            <li>Enhanced security</li>
                                            <li>Access to all features</li>
                                            <li>24/7Support</li>
                                        </ul>
                                        <a href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-price">
                                    <div class="part-top">
                                        <h3>Basic Plan</h3>
                                        <h4>5.50%<br /><span>Per Month</span></h4>
                                    </div>
                                    <div class="part-bottom">
                                        <ul>
                                            <li>Features</li>
                                            <li>Minimum Deposit $10</li>
                                            <li>Miximum Deposit $10,000</li>
                                            <li>Enhanced security</li>
                                            <li>Access to all features</li>
                                            <li>24/7Support</li>
                                        </ul>
                                        <a href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-price">
                                    <div class="part-top">
                                        <h3>Basic Plan</h3>
                                        <h4>5.50%<br /><span>Per Month</span></h4>
                                    </div>
                                    <div class="part-bottom">
                                        <ul>
                                            <li>Features</li>
                                            <li>Minimum Deposit $10</li>
                                            <li>Miximum Deposit $10,000</li>
                                            <li>Enhanced security</li>
                                            <li>Access to all features</li>
                                            <li>24/7Support</li>
                                        </ul>
                                        <a href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-price special">
                                    <div class="part-top">
                                        <h3>Basic Plan</h3>
                                        <h4>5.50%<br /><span>Per Month</span></h4>
                                    </div>
                                    <div class="part-bottom">
                                        <ul>
                                            <li>Features</li>
                                            <li>Minimum Deposit $10</li>
                                            <li>Miximum Deposit $10,000</li>
                                            <li>Enhanced security</li>
                                            <li>Access to all features</li>
                                            <li>24/7Support</li>
                                        </ul>
                                        <a href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-price">
                                    <div class="part-top">
                                        <h3>Basic Plan</h3>
                                        <h4>5.50%<br /><span>Per Month</span></h4>
                                    </div>
                                    <div class="part-bottom">
                                        <ul>
                                            <li>Features</li>
                                            <li>Minimum Deposit $10</li>
                                            <li>Miximum Deposit $10,000</li>
                                            <li>Enhanced security</li>
                                            <li>Access to all features</li>
                                            <li>24/7Support</li>
                                        </ul>
                                        <a href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- price end -->
<!-- transaction begin-->
<div class="transaction">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title text-center">
                    <h2>Latest<span> Transaction</span></h2>
                    <p>
                        Put your investing ideas into action with full range of investments.
                        Enjoy real benefits and rewards on your accrue investing.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="transaction-area">
                    <ul class="nav nav-tabs" id="myTab3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="deposit-tab" data-toggle="tab" href="#deposit" role="tab"
                               aria-selected="true">Deposit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="withdraw-tab" data-toggle="tab" href="#withdraw" role="tab"
                               aria-selected="false">Withdraw</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent3">
                        <div class="tab-pane fade show active" id="deposit" role="tabpanel" aria-labelledby="deposit-tab">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">Deposit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-1.jpg" alt="">
                                            </div>
                                            <span>Olympia Ripple</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-2.jpg" alt="">
                                            </div>
                                            <span>Alison Rittichier</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-3.jpg" alt="">
                                            </div>
                                            <span>Isreal Vandy</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-4.jpg" alt="">
                                            </div>
                                            <span>Emmett Steinkellner</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-5.jpg" alt="">
                                            </div>
                                            <span>Nancee Broomes</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="withdraw" role="tabpanel" aria-labelledby="withdraw-tab">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">Deposit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-1.jpg" alt="">
                                            </div>
                                            <span>Olympia Ripple</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-2.jpg" alt="">
                                            </div>
                                            <span>Alison Rittichier</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-3.jpg" alt="">
                                            </div>
                                            <span>Isreal Vandy</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-4.jpg" alt="">
                                            </div>
                                            <span>Emmett Steinkellner</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="d-flex">
                                            <div class="user-img">
                                                <img src="~/Public/img/user-5.jpg" alt="">
                                            </div>
                                            <span>Nancee Broomes</span>
                                        </th>
                                        <td>Oct 24,2018</td>
                                        <td>$9,00,000.00</td>
                                        <td>Dollar</td>
                                        <td>001 Days Ago</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- transaction end -->
<!-- payment begin-->
<div class="payment">
    <div class="container">
        <div class="row d-flex reorder-xs">

            <div class="col-xl-5 co-lg-5 col-md-6">
                <div class="part-form">
                    <h3>Calculate Your Profit</h3>
                    <form class="payment-form">
                        <div class="form-group">
                            <label for="InputAmount">Enter Ammount :</label>
                            <input type="text" class="form-control" id="InputAmount" placeholder="10">
                        </div>
                        <div class="form-group">
                            <label for="InputTprofit">Total Profit :</label>
                            <input type="text" class="form-control" id="InputTprofit" placeholder="$15">
                        </div>
                        <div class="form-group">
                            <label for="InputProfit">Net Profit :</label>
                            <input type="text" class="form-control" id="InputProfit" placeholder="$05">
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-6 d-flex align-items-center offset-xl-1 offset-lg-1">
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="section-title">
                            <h2>We Accepted<br /><span>Payment Method</span></h2>
                            <p>
                                Put your investing ideas into action with full range of investments.
                                Enjoy real benefits and rewards on your accrue investing.
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12">
                        <div class="part-accept">
                            <div class="single-accept">
                                <img src="~/Public/img/accept-card-1.jpg" alt="">
                            </div>
                            <div class="single-accept">
                                <img src="~/Public/img/accept-card-2.jpg" alt="">
                            </div>
                            <div class="single-accept">
                                <img src="~/Public/img/accept-card-3.jpg" alt="">
                            </div>
                            <div class="single-accept">
                                <img src="~/Public/img/accept-card-4.jpg" alt="">
                            </div>
                        </div>
                        <div class="part-accept">
                            <div class="single-accept">
                                <img src="~/Public/img/accept-card-5.jpg" alt="">
                            </div>
                            <div class="single-accept">
                                <img src="~/Public/img/accept-card-6.jpg" alt="">
                            </div>
                            <div class="single-accept">
                                <img src="~/Public/img/accept-card-7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- payment end -->

