
@{
    ViewBag.Title = "Index";
}

<!-- page title begin-->
<div class="page-title">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <h2>About Us</h2>
                <p>Enjoy real benefits and rewards on your accrue investing.</p>
            </div>
        </div>
    </div>
</div>
<!-- page title end -->
<!-- we are begin -->
<div class="we-re">
    <div class="container">
        <div class="row d-flex reorder-md">
            <div class="col-xl-6 col-lg-6 d-flex align-items-center">
                <div class="part-text">
                    <div class="section-title">
                        <h2>Make A Deal With Us For Business!</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal distribution of letters, as opposed
                        </p>
                    </div>
                    <a href="#">Know More</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="part-img">
                    <img src="~/Public/img/692.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- we are end -->
<!-- video begin-->
<div class="video">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h2>Our Overview</h2>
                    <p>
                        We bring the right people together to challenge established thinking and drive transformation.
                        We will show the way to successive.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="play-video">
                    <a class="play-button venobox mfp-iframe" href="https://www.youtube.com/watch?v=CTQYBf_wZpc"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video end -->
<!-- about begin -->
<div class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h2>About Tettram</h2>
                    <p>
                        We bring the right people together to challenge established thinking and drive transformation.
                        We will show the way to successive.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-brain"></i>
                        </div>
                        <div class="part-text">
                            <h3>We Innovate</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-patent"></i>
                        </div>
                        <div class="part-text">
                            <h3>Licensed & Certified</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-reward"></i>
                        </div>
                        <div class="part-text">
                            <h3>We are Professional</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-about">
                    <div class="heading">
                        <div class="part-icon">
                            <i class="flaticon-donation"></i>
                        </div>
                        <div class="part-text">
                            <h3>Saving & Investments</h3>
                        </div>
                    </div>
                    <p>
                        We innovate systematic, continuously and success
                        innovate system, That continuously done.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->
<!-- we think global begin-->
<div class="we-think-global">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="part-left">
                    <h2>
                        We were always<br />
                        thinking global Community
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="#">Learn More</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-10 d-flex align-items-center">
                <div class="part-right">
                    <h3>Start Invest Now</h3>
                    <p>
                        Quis nostrud exercitation ullamco laboris nisi utaliquip
                        commodo consequat. Duis aute feeirure dolor voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="#">View Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- we think global end -->
<!-- choosing resons begin-->
<div class="choosing-reason">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h2>Why choose us</h2>
                    <p>
                        We bring the right people together to challenge established thinking and drive transformation.
                        We will show the way to successive.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-reason">
                    <div class="part-img">
                        <img src="~/Public/img/choose-1.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3>Stable & Profitable</h3>
                        <p>
                            Effective business support planning becomes one of the
                            most critical activities within successful small business
                            maintenance and development.Accure provides best
                            affordable plan to earn money.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-reason">
                    <div class="part-img">
                        <img src="~/Public/img/choose-2.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3>Instant Withdraw</h3>
                        <p>
                            Effective business support planning becomes one of the
                            most critical activities within successful small business
                            maintenance and development.Accure provides best
                            affordable plan to earn money.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-reason">
                    <div class="part-img">
                        <img src="~/Public/img/choose-3.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3>Referral Provides</h3>
                        <p>
                            Effective business support planning becomes one of the
                            most critical activities within successful small business
                            maintenance and development.Accure provides best
                            affordable plan to earn money.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choosing resons end -->
<!-- newsletter begin-->
<div class="newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7">
                <div class="section-title text-center">
                    <h2>Our Newslatter</h2>
                    <p>
                        We bring the right people together to challenge established thinking and drive transformation.
                        We will show the way to successive.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7">
                <form class="newsletter-form">
                    <input type="email" placeholder="Enter your email..." required>
                    <button type="submit">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- newsletter end -->
<!-- inventor begin-->
<div id="investors">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="section-title text-center">
                    <h2>Our Top Inventors</h2>
                    <p>
                        Put your investing ideas into action with full range of investments.
                        Enjoy real benefits and rewards on your accrue investing.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                    <div class="image">
                        <img class="img-fluid" src="~/Public/img/t1.png" alt="">
                        <div class="social_icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <h5>
                            Tamim Ubaidah
                        </h5>
                        <p>Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                    <div class="image">
                        <img class="img-fluid" src="~/Public/img/t2.png" alt="">
                        <div class="social_icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <h5>Mamunur Rashid</h5>
                        <p>Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                    <div class="image">
                        <img class="img-fluid" src="~/Public/img/t3.png" alt="">
                        <div class="social_icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <h5>Rex Rifat</h5>
                        <p>Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                    <div class="image">
                        <img class="img-fluid" src="~/Public/img/t4.png" alt="">
                        <div class="social_icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="info">
                        <h5>David Martin</h5>
                        <p>Web Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inventor end -->


